!!!5
html
	head
		title $projectname
		link(href="styles/style.css?v=999", rel="stylesheet", type="text/css")
	body
		h1 $projectname
		script(src="js/lib/jquery-1.8.3.min.js")
		script(src="js/main.js?v=999")
