@font-face
	font-family: 'entypo'
	src: url('/fonts/Entypo/entypo.eot')
	src: url('/fonts/Entypo/entypo.eot?#iefix') format('embedded-opentype'), url('/fonts/Entypo/entypo.ttf') format('truetype'), url('/fonts/Entypo/entypo.woff') format('woff'), url('/fonts/Entypo/entypo.svg#entypo') format('svg')
	font-weight: normal
	font-style: normal
