.image-sprite-edit-undo-8,
.image-sprite-edit-delete-2,
.image-sprite-edit-4,
.image-sprite-edit-find{background-image:url('../img/sprite.png?2c62e8');background-repeat:no-repeat}
.image-sprite-edit-undo-8{background-position:0px 0px;width:32px;height:32px;}
.image-sprite-edit-delete-2{background-position:-32px 0px;width:32px;height:32px;}
.image-sprite-edit-4{background-position:0px -32px;width:32px;height:32px;}
.image-sprite-edit-find{background-position:-32px -32px;width:24px;height:24px;}
